# GSD State Files
.gsd/ARCHITECTURE.md
.gsd/DECISIONS.md
.gsd/JOURNAL.md
.gsd/ROADMAP.md
.gsd/SPEC.md
.gsd/STACK.md
.gsd/STATE.md
.gsd/TODO.md

# OS generated
Thumbs.db
.DS_Store

# Node modules
node_modules/
api/node_modules/
web/node_modules/

# Env files
.env
api/.env
web/.env

# Temporary files
*.tmp
~$*

# MongoDB data
mongodb_data/
mongo-local.gz

# mis archivos a ignorar
get-shit-done-for-antigravity/
.rrhh-server/
.ocultos/
*.pdf
*.docx
*.doc

# el Docker Compose de desarrollo
docker-compose.override.yml

# carpetas con legajos de ejemplo
storage/
backups/

# No subir los certificados y html de nginx
nginx/certs/
nginx/html/