services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: rrhh_api
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - DB_TYPE=mongodb
      - DB_URI=mongodb://mongodb:27017/rrhh-postulantes
      - JWT_SECRET=super_secret_key_change_me
      - BCRYPT_SALT=10
      - BCRYPT_SECRET=another_super_secret_encryption_word
      - SESSION_EXPIRES=30m
      - STORAGE_PATH=/storage/postulantes
      - CORS_ORIGIN=http://localhost,http://localhost:5173
    volumes:
      - type: bind
        source: ./storage
        target: /storage
    depends_on:
      - mongodb

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: rrhh_web
    restart: unless-stopped
    ports:
      - "80:80"
    environment:
      - VITE_API_URL=http://localhost:5000/api
    depends_on:
      - api

  mongodb:
    image: mongo:latest
    container_name: rrhh_mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ~/rrhh-postulantes/mongodb_data:/data/db

#  postgres:
#    image: postgres:15-alpine
#    container_name: rrhh_postgres
#    restart: unless-stopped
#    environment:
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: password
#      POSTGRES_DB: rrhh-postulantes
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres_data:/var/lib/postgresql/data

#volumes:
#  postgres_data:
