name: Deploy RRHH Postulantes

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          command_timeout: 20m
          script: |
            cd /home/ubuntu/rrhh-postulantes
            git pull origin main
            docker compose up -d --build --remove-orphans